
/*containers*/
body{
  width:100%;
/*  background-color:#F24402;
*/}

.container-main{
  width:100%;
  height:100%;
/*  background-color:#6FF41A
*/
 /* margin:0 auto;
  text-align:center;*/
}
.container-content{
/*  width:100%;
*/  
  
  margin:0px;
  padding:0px;
  padding-left:10px;


/*  padding-top:10px;
*/
}


/*header*/
header{
  height:30px;
  background-color: #0A1CA5;
}
 
 h1{
 /* text-align: center;*/
  float:left;
  padding:0px;
  margin:0px;
  padding-left:30px;
  margin-top:2px;

}

.food{
  font-weight: lighter;
  padding-bottom: 20px;
  display:inline;
  font-size: 18px;
  padding-top: 5px;
}

.title{
  /*background-color: white;*/
  border-radius: 5px;
  padding:2px;
  font-size: 20px;
  color:white;
  cursor:pointer;
}

/*header menu*/
.menu{
 padding-top:4px;
 padding-right:10px;
}

i{
  float:right;
  padding:5px;
  color:white;
}

.info-text{
 /* float:left;
  width:10%;
  height:300px;

  clear:both;*/
  display:none;

}
.active{
  background-color:#6FF41A;
/*  float:right;
*/  margin-right:10px;
  margin-top:10px;
  width:20%;
/*  height:100px;
*/  /*clear:both;*/
  display:block;
  fon

}
.active h4{
  padding:10px 10px;
/*  padding-top:10px;*/
  font-weight: lighter;
  font-size:30px;
  color:white;
}

.fa-info-circle:hover,.fa-facebook:hover,.fa-search:hover{
 color: #F24402;
 }



/*image*/
/*.yum{
  height:540px;
  width:100%;
}*/
.img{
  opacity:0.9;
  background-image:url('../assets/background.png');
  background-color:#F24402;
  background-position:center; 
  height:350px;
  width:100%;
  background-repeat:no-repeat;

}

#slides{
  
  display:none;
  
 height:600px;
 width:auto;
  position:relative; 
  top: -70px; 
  left: 0px;
  z-index: -1;
  

}


.slidesjs-pagination,.slidesjs-previous,.slidesjs-next{
  display:none;
}

.slides-container{
  position: relative;
  top:0;
  left:0;
  padding:0px;
  height:550px;
}
/*description*/
.description{
  width:100%;
  margin:0 auto;
/*  margin-left:265px;
  padding: 5px 40px;*/
  text-align:left;
  position: absolute; 
  top: 80px; 
  left: 100px;
  z-index:2;

}

.description h4{
  font-size:100px;

  color:white;
  text-decoration: none;
  z-index:1;
}

.description h4:hover{
  font-size:100px;
  color:black;
  text-decoration: none;
}
/*subsection */
.sub-container{
  width:100%;
  margin-top:10px;
/*  margin-bottom:60px;
*/
}

.sub1{
  width:45%;
  float:left;
/*  height:300px;
*/ 
/*  margin-left:600px;
*//*  width:45%;
*/}

.box1{
  width:100px;
  height:200px;
  background-color: blue;
  display:none;
}
.sub2{
  width:44%;
  float:left;
/*  height:300px;
*/


/*  margin-left:30px;
*/ 
}

.subsub{
  /*margin-left:500px;*/
}
/*freshdirect input*/
button{

}

.list{
  list-style: none;
}

/*form*/

.import{
  width:50%;
  margin:0 auto;
}
form{
  margin-left:0px;
}

.form-control{


}
/*.btn-default{

  margin:auto 0;
  margin-top:29px;
  margin-left:20px;
  width:200%;
}*/


#scrape{
/*  font:inherit;
  font-size:30px;*/

}
.btn-cont{
  text-align:center;
}

/*.pull{
  width:100%;
}*/

/* start recipe section start*/

.recipe{
   margin-left:auto;
  margin-right:auto;
  /*top-margin:10px;*/
  width:50%;

}

.recipe-value{
  float:left;
}


.and{
  margin-top:30px;
  margin-right:10px;
  color: #7A7A7A;
  font-weight: lighter;

}
/*freshdirect contents*/
.title-cart{
  height:100px;
  width:100%;
  margin-top:20px;
  display:none;
  text-align: center;
}
.title-cart h4{
  font-size: 50px;
  margin:0 auto;
  font-weight: lighter;

}
h4{
/*  font-weight: 30px;
*/  font-size:16px;
  padding:0px;
  margin:0px;
  margin-bottom:5px;

}

.list{
  clear:both;
  margin:auto 0;
  margin-top:10px;
}
li.one{
  margin-bottom:5px;
  cursor:pointer;
}

li.two{
    margin-bottom:5px;
    cursor:pointer;

}

.one h4{
  padding-left:8px;
}

.two h4{
  padding-left:8px;
}
/*recipe*/
.list-recipe{
  margin-top:52px;
  clear:both;
  height:100%;
}
#recipe-search{
  margin-top:10px;
/*  position:absolute;
*/}
.list-recipe li{
  margin-top:5px;
}
li h4{
   font-weight: lighter;
   font-size:24px;
 /*  float:left;*/
   display:inline-block;
}
/*footer*/
footer{
  clear:both;
  margin:0px;
  padding:0px;
  height:30px;
  background-color: #0A1CA5;
}
.footer-copy{
  color:white;
  float:right;
  padding-top: 3px; 
  padding-right:5px;
}
li.edno, li.dve{
  margin-top:10px;


}

.fa-check.green{
  color:green;
  
}
.fa-check{
  color:white;

}
.edno h4{
/*  clear:all;
*/  display:inline-block;
margin-left:10px;


}

.dve h4{
/*  clear:all;
*/  display:inline-block;
margin-left:10px;

}

.four{
  margin:0px;
  padding:0px;
  margin-top:10px;
  
}


/*modal loading screen*/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../assets/load.gif') 
                50% 50% 
                no-repeat;
    background-size:30%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */


body.loading .modal {
    display: block;
    padding-left:5px;
    padding-top:28px;
    color:rgba(0 0 0 0.4);
}

body.loading {
    overflow: hidden;   
}
.freshlogo{
  width:10%;
  height:auto;
  margin-bottom:8px;

}

.fresh{


/* Anytime the body has the loading class, our
   modal element will be visible */



  